################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer/.vs/IdentityServer/v16/Server/sqlite3
/Client/.vs/Client/v16
/Client/.vs/Client/DesignTimeBuild
/WebAPI/.vs/WebAPI/v16
